* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #eee;
}
.container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1rem 0.8rem;
  width: 40vw;
  border-radius: 8px;
  background-color: #003865;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.heading {
  text-align: center;
  padding: 1.4rem;
  font-size: 2.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.discription {
  text-align: center;
  font-size: 1.6rem;
  font-family: sans-serif;
  padding: 1rem;
}
.input {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input label {
  font-family: sans-serif, "Courier New", Courier, monospace;
  font-size: 1.7rem;
  padding: 0.5rem 0;
}
.input input {
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 8px;
}
#check-btn:hover {
  transform: scale(102%);
}
#check-btn {
  font-size: 1.9rem;
  width: 98%;
  background-color: #80bef1;
  color: #022541;
  font-weight: bold;
  margin:0.8rem auto;
  padding: 0.6rem;
   
  border-radius: 10px;
  border: none;
}

.error-msg {
  font-size: 1.5rem;
  text-align: center;
  font-family: sans-serif;
}
table {
  padding: 1rem 0;
}
table caption {
  font-size: 1.8rem;
  padding: 1rem 0;
  font-family: "Courier New", Courier, monospace;
}

table tr th {
  border: 1px solid white;
  padding: 0.5rem;
  font-size: 1.2rem;
}
table tr td {
  padding: 0.5rem;
  border: 1px solid white;
  font-size: 1.2rem;
  font-weight: bold;
}
footer {
  /* border: 1px solid red; */
  padding: 0.4rem 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  height: 4rem;
  background-color: #003865;
}
footer p {
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.links a {
  text-decoration: none;
  color: #fff;
}
.links i {
  font-size: 2rem;
  padding: 0 0.8rem;
}
@media screen and (max-width: 768px) {
  .container {
    width: 60%;
  }
}
@media screen and (max-width: 425px) {
  .container {
    width: 100%;
    margin: 4px 4px;
  }
}
